@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

body {
  font-family: "DM Sans", sans-serif;
}

.dot-pattern {
  background-image: radial-gradient(
    hsla(0, 0%, 100%, 0.1) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}

.blink {
  animation: blink-animation 2s linear infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
